<%- include('../partials/header') %>

<p>
  <select>
    <% tickets.forEach(function(t) { %>
      <option><%= t.seat %></option>
    <% }) %>
  </select>
</p>
<form id="add-ticket-form" action="/tickets" method="POST">
  <label>Seat:</label>
  <input name="seat" required pattern="[A-F][1-9]\d?">
  <label>Price:</label>
  <input type="number" name="price">
  <input name="flight" value="<%= flightId %>">
  <input type="submit" value="Add Ticket">
</form>

<%- include('../partials/footer') %>